/* form */
.form-card {
  padding: 14px 20px 16px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-header {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.type-label {
  color: #fff;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin-left: 4px;
  padding: 4px 8px;
  border-radius: 11px;
}
.required-label {
  background: #c00;
}

.optional-label {
  background: #666;
}

.submit-input {
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  box-sizing: content-box;
  background: #ff8c00;
  -webkit-appearance: none;
}

.form-description {
  height: 14px;
  color: #666;
  font-size: 14px;
  margin-top: 6px;
}

/* input */
.form-input {
  width: calc(100% - 20px);
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-family: sans-serif;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #999;
  border-left: none;
  border-radius: 0;
  background: #f3f3f3;
}

/* search */
.search-box {
  max-width: 300px;
  margin-bottom: 20px;
}

.search-box form {
  display: flex;
  gap: 20px;
}